$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #333; //for accessibility
$color__text-input: #4A4A4A;
$color__text-input-focus: darken(#4A4A4A, 10);
$color__text-dark: #8D8D8D;
$color__link: #847035;
$color__link-visited: darken(#847035, 10);
$color__link-hover: #847035;
$color__text-main: #4A4A4A;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #4A4A4A;
$color__border-abbr: #4A4A4A;

//BASE THEME COLOURS:

$color__lightgold: #F2Cd65;
$color__gold: #F1B15A;
$color__brown: #B98032;
$color__pink: #F15A5A;
$color__lightpurple: #B087D4;
$color__purple: #B087D4;
$color__turqoise: #24C4D3;
$color__lightblue: #21BEE9;
$color__darkblue: #0668A0;
$color__black: #24C4D3;
