@font-face {
  font-family: "CooperHewitt-Book";
  src: url(fonts/CooperHewitt-Book.otf);
}
@font-face {
  font-family: "CooperHewitt-Semibold";
  src: url(fonts/CooperHewitt-Semibold.otf);
}
@font-face {
  font-family: "CooperHewitt-Light";
  src: url(fonts/CooperHewitt-Light.otf);
}

$font__main: "CooperHewitt-Book", serif;
$font__heading: "CooperHewitt-Semibold", serif;
$font__subheading: "CooperHewitt-Light", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
